services:
  attacker:
    build:
      context: ./attacker
    container_name: lab_attacker
    tty: true
    stdin_open: true
    command: ["tail", "-f", "/dev/null"]   # mantém o container vivo
    networks:
      labnet:
        ipv4_address: 10.89.0.2
    cap_add:
      - NET_RAW
      - NET_ADMIN

  web_nginx:
    image: nginx:alpine
    container_name: lab_nginx
    networks:
      labnet:
        ipv4_address: 10.89.0.3

  web_apache:
    image: httpd:alpine
    container_name: lab_apache
    networks:
      labnet:
        ipv4_address: 10.89.0.4

  ssh:
    image: rastasheep/ubuntu-sshd:18.04
    container_name: lab_ssh
    command: >
      /bin/bash -c "
      service ssh start &&
      tail -f /dev/null
      "
    environment:
      - SSH_PASSWORD=toor
    networks:
      labnet:
        ipv4_address: 10.89.0.5

  ftp:
    image: delfer/alpine-ftp-server
    container_name: lab_ftp
    environment:
      - USERS=ftpuser|ftppass|/ftp|10000  # user|password|home|uid
      - ADDRESS=ftp
    networks:
      labnet:
        ipv4_address: 10.89.0.6
    restart: unless-stopped

  mysql:
    image: mysql:5.7
    container_name: lab_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: testdb
    networks:
      labnet:
        ipv4_address: 10.89.0.7

  redis:
    image: redis:alpine
    container_name: lab_redis
    networks:
      labnet:
        ipv4_address: 10.89.0.8

  smb:
    image: dperson/samba
    container_name: lab_smb
    command: "-s \"share;/data;yes;no;no;all;none\" -u \"guest;\""
    volumes:
      - ./smbdata:/data
    networks:
      labnet:
        ipv4_address: 10.89.0.9

  smtp:
    image: mailhog/mailhog
    container_name: lab_smtp
    command: ["tail", "-f", "/dev/null"]   # mantém o container vivo
    networks:
      labnet:
        ipv4_address: 10.89.0.10

  dns:
    image: andyshinn/dnsmasq:2.78
    container_name: lab_dns
    command: ["-k", "-C", "/etc/dnsmasq.conf"]
    volumes:
      - ./dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf:ro
      - ./dnsmasq/dnsmasq.hosts:/etc/dnsmasq.hosts:ro
    cap_add:
      - NET_ADMIN
      - NET_BIND_SERVICE
      - NET_RAW
    networks:
      labnet:
        ipv4_address: 10.89.0.11
    restart: unless-stopped

  vuln:
    build:
      context: ./vuln_service
    container_name: lab_vuln
    networks:
      labnet:
        ipv4_address: 10.89.0.12

networks:
  labnet:
    driver: bridge
    ipam:
      config:
        - subnet: 10.89.0.0/24
          gateway: 10.89.0.1